# ========================
# Python & Django
# ========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (Local)
venv/
.venv/
env/
.env

# Logs
*.log

*.tar
# ========================
# Docker & System
# ========================
.DS_Store
Thumbs.db


# ========================
# IDE Settings
# ========================
.vscode/

rdiff